01demo/src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="33a7e205-4a65-49dd-92e7-607a45536b3c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="01demoFlow" doc:id="8bc51469-175d-4819-8160-f32c81272928" >
		<http:listener doc:name="Listener" doc:id="df99e8b1-d5c7-45fd-ad20-2c1f10603c2b" config-ref="HTTP_Listener_config" path="/demo/{uname}"/>
		<set-variable value="#['Hello ' ++ message.attributes.uriParams.uname as String]" doc:name="Set Variable" doc:id="b6221064-834e-4755-98d2-0e6d9494307e" variableName="param"/>
		<set-variable value="hello" doc:name="Set Variable" doc:id="e08f6916-2348-4e1e-bf16-540144998021" variableName="params"/>
		<set-payload value="#[vars.param ++ vars.params]" doc:name="Set Payload" doc:id="79c49d4f-475f-40e6-86e9-db2b58c8f70c" />
	</flow>
</mule>
