charm-dynac-interface-app/src/test/resources/mock/dynac-mock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:test="http://www.mulesoft.org/schema/mule/test"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="ntcip_outbound_test" host="${inbound.host}" port="${inbound.port}" doc:name="HTTP Request Configuration"/>
	<http:listener-config name="ntcip_inbound_test" host="${outbound.host}" port="${outbound.port}" doc:name="HTTP Listener Configuration"/>

	<flow name="from-ntcip-add-soapheader">
		<vm:inbound-endpoint address="vm://from-ntcip" doc:name="VM" exchange-pattern="request-response"/>
		<cxf:proxy-client payload="body" enableMuleSoapHeaders="false" doc:name="CXF" />
		
		<http:request config-ref="ntcip_outbound_test" path="/" method="POST" doc:name="HTTP" responseTimeout="20000">
			<http:failure-status-code-validator values="999"/>
		</http:request>
		
	
		
		<copy-properties propertyName="http.status" doc:name="Property"/>
		
		<logger category="wire-log" message="&lt; #[message.payloadAs(java.lang.String)]" doc:name="wire log" level="INFO" />
	</flow>
	
	<flow name="dynac-mock">
		<http:listener path="${outbound.path}" config-ref="ntcip_inbound_test" doc:name="HTTP"/>
		
		<cxf:proxy-service payload="body" enableMuleSoapHeaders="false" doc:name="CXF"/>
		
		<auto-transformer returnClass="java.lang.String"/>
        <choice doc:name="Choice">
            <when expression="#[xpath3('boolean(/tmdd:centerActiveVerificationRequestMsg)')]">
                 <test:component/>
            </when>
            <otherwise>
                <flow-ref name="iventorySubscription" doc:name="Flow Reference"/>
            </otherwise>
        </choice>
		
		<test:component/>
	</flow>
    <flow name="iventorySubscription">
        <test:component/>
        <logger message="#[payload]" level="INFO" category="test" doc:name="Logger"/>
    </flow>
        <flow name="statusPublish">
        <test:component/>
    </flow>
</mule>
